{% set menu = siteSettings.headerMenu ?? false %}

{% from "_macros/elements" import mainLogo, burger %}
<header id="page-header" class="at-top">
    <div class="container">
        <div class="inner">
            <div class="logo-wrapper">
                <a href="/?scroll=hero">
                    {{mainLogo()}}
                </a>
            </div>
            {% if menu|length > 0 %}
            <nav class="navbar hdr-menu desktop-nav">
                <ul>
                    {% for m in menu %}
                        <li>
                            <a href="/{{m.linkTo}}">
                                {{m.customText}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
                <button type="button" data-mobile-menu-trigger>
                {{burger()}}
                </button>
            </nav>
            {% endif %}
        </div>
    </div>
    <div class="mob-dropdown">
            {% if menu|length > 0 %}
            <nav class="mobile-nav">
                <ul>
                    {% for m in menu %}
                        <li>
                            <a href="/{{m.linkTo}}">
                                {{m.customText}}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </nav>
            {% endif %}
    </div>
</header>